<div class="message">
  <div class="upper-message">
    <div class="message-user">
      <div class='message-user-avatar'>
          <% if message.user.avatar.present? %>
            <%= link_to image_tag(message.user.avatar, size:'25x25', class:"message-user-img"), user_path(message.user_id) %>
          <% else %>
            <%= image_tag "profile_default_picture.png", size:'25x25', class:'message-user-default-img' %>
          <% end %>
        </div>
      <div class='message-user-name'>
        <%= link_to message.user.nickname, user_path(message.user_id), class:"message-nickname" %>
      </div>
    </div>
    <div class="message-date">
      <%= l message.created_at %>
    </div>
  </div>
  <div class="lower-message">
    <div class="message-content">
      <%= message.content %>
    </div>
  </div>
</div>
