<%= render "shared/header" %>

<%# ユーザー情報 %>
<div class='user-show'>
  <div class='user-title-bar'>
    <div class='user-title'>
      <%= @user.nickname %>のユーザーページ
    </div>
    <div class='profile-btn'>
    <%= link_to 'プロフィールの編集', edit_user_path(params[:id]), class:'profile-skyblue-btn' %>
    </div>
  </div>
  <div class='user-box'>
    <div class='profile-image'>
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar, :size =>'250x250' %>
      <% else %>
        <%= image_tag "profile_default_picture.png" %>
      <% end %>
    </div>
    <div class="user-info-box">
    <table class="info-table">
        <tbody>
          <tr>
            <th class="info-user">ニックネーム</th>
            <td class="detail-value"><%= @user.nickname %></td>
          </tr>
          <tr>
            <th class="info-user">名前</th>
            <td class="detail-value"><%= @user.name %></td>
          </tr>
          <tr>
            <th class="info-user-description">自己紹介</th>
            <td class="detail-value-description"><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%# /ユーザー情報 %>