<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <div class='footer-content-head'>ゴルフ場予約サイト</div>
      <ul>
        <li><%= link_to 'GDO', "#", class: "footer-link" %></li>
        <li><%= link_to '楽天GORA', "#", class: "footer-link" %></li>
        <li><%= link_to 'じゃらんゴルフ', "#", class: "footer-link" %></li>
        <li><%= link_to 'PGM', "#", class: "footer-link" %></li>
        <li><%= link_to 'バリューゴルフ', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <div class='footer-content-head'>ゴルフ見るなら</div>
      <ul>
        <li><%= link_to 'ゴルフネットワーク', "#", class: "footer-link" %></li>
        <li><%= link_to 'GOLFTV', "#", class: "footer-link" %></li>
        <li><%= link_to 'DAZN', "#", class: "footer-link" %></li>
        <li><%= link_to 'U-NEXT', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <div class='footer-content-head'>ブランド公式サイト</div>
      <ul>
        <li><%= link_to 'TaylorMade', "#", class: "footer-link" %></li>
        <li><%= link_to 'Callaway', "#", class: "footer-link" %></li>
        <li><%= link_to 'Titleist', "#", class: "footer-link" %></li>
        <li><%= link_to 'PING', "#", class: "footer-link" %></li>
        <li><%= link_to 'Srixon', "#", class: "footer-link" %></li>
        <li><%= link_to 'PEARLY GATES', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <div class='footer-content-head'>ニュース・コラム</div>
      <ul>
        <li><%= link_to 'PGAツアー', "#", class: "footer-link" %></li>
        <li><%= link_to '国内男子', "#", class: "footer-link" %></li>
        <li><%= link_to '国内女子', "#", class: "footer-link" %></li>
        <li><%= link_to 'DPワールドツアー', "#", class: "footer-link" %></li>
        <li><%= link_to 'その他', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
</div>