<div class='top-bar'>
  <div class='new'>
    <%= link_to '出品する', new_item_path, class:'new-btn' %>
  </div>
  <div class='search'>
    <%= search_form_for Item.ransack(params[:q]), url: search_items_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :item_name, placeholder: '商品名から探す', class: 'search-input' %>
      <br>
      <%= f.label :submit, class: "search-button" do %>
        <input type="submit" value="検索" class="search-btn">
        <%= f.submit :submit, id: "q_submit", style: "display: none;" %>
      <% end %>
    <% end %>
  </div>
  <div class='item-search-page'>
    <%= link_to '詳細検索ページへ', search_items_path, class:'item-search-page-btn' %>
  </div>
</div>
<div class='bar-title'>新規商品一覧</div>
<div class='item-lists'>
  <% @item.each do |item| %>
    <div class='item-list'>
      <div class='item-user'>
        <div class='item-user-avatar'>
          <% if item.user.avatar.present? %>
            <%= link_to image_tag(item.user.avatar, size:'35x35', class:"item-user-img"), user_path(item.user_id) %>
          <% else %>
            <%= image_tag "profile_default_picture.png", size:'35x35', class:'item-user-default-img' %>
          <% end %>
        </div>
        <div class='item-user-nickname'>
            <%= link_to item.user.nickname, user_path(item.user_id), class:"item-nickname" %>
        </div>
      </div>
      <%= link_to item_path(item.id) do %>

      <% if item.purchase.present? %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>

      <%= image_tag item.item_image, size:'348x350', class:"item-img" %>
      <div class='item-price'>
        <span>¥<%= item.price %></span>
      </div>
      <% end %>
    </div>
  <% end %>
</div>