<%= render "shared/header" %>
<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :item_name, '商品名' %>
      <br>
      <%= f.text_field :item_name, placeholder: '商品名', value: params[:q]&.dig(:item_name) %>
    </div>
    <div class="search-field">
      <%= f.label :category_id_eq, 'カテゴリ' %>
      <br>
      <%= f.collection_select(:category_id_eq, Category.all, :id, :name, {include_blank: "---"}) %>
    </div>
    <div class="search-field">
      <%= f.label :price_gteq, '価格'%>
      <br>
      <%= f.number_field :price_gteq %> 円以上
      <br>
      <%= f.number_field :price_lteq %> 円以下
    </div>
    <div class="search-field">
      <%= f.label :user_nickname_cont, '出品者名' %>
      <br>
      <%= f.text_field :user_nickname_cont, placeholder: '出品者名' %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
  <div class='item-lists'>
  <% @items.each do |item| %>
    <div class='item-list'>
      <div class='item-user'>
        <div class='item-user-avatar'>
          <% if item.user.avatar.present? %>
            <%= link_to image_tag(item.user.avatar, size:'35x35', class:"item-user-img"), user_path(item.user_id) %>
          <% else %>
            <%= image_tag "profile_default_picture.png", size:'35x35', class:'item-user-default-img' %>
          <% end %>
        </div>
        <div class='item-user-nickname'>
            <%= link_to item.user.nickname, user_path(item.user_id), class:"item-nickname" %>
        </div>
      </div>
      <%= link_to item_path(item.id) do %>

      <% if item.purchase.present? %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>

      <%= image_tag item.item_image, size:'348x350', class:"item-img" %>
      <div class='item-price'>
        <span>¥<%= item.price %></span>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
</div>