<%= render "shared/header" %>
<div class="contents-row">
  <div class="container">
    <h3>新規投稿</h3>
    <%= form_with(model: @post, local: true) do |form| %>
      <div class="field">
        <label class="post-picture-title">投稿する写真</label>
        <div class='post-picture'>
          <%= form.file_field :image, class:'select-picture',id:"post_image" %>
          <div id="picture-list"></div>
        </div>
      </div>
      <%= form.text_area :text, placeholder: "テキスト", rows: "10", class:'post-textarea' %>
      <%= form.submit "投稿する", class:'post-btn' %>
    <% end %>
  </div>
</div>